<h1>Stock Pick</h1>

<div class="layout-row">
    <div class="flex-20">
      <ul>
        {{#each model as |model|}}
          <li>{{model.name}}</li>
        {{/each}}
      </ul>
    </div>
    <div class="flex">
      {{outlet}}
    </div>
</div>

